
---
layout: null
---

<html>
  <head>
    <title>Dev Confessional | No Blockers™</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="container">
      <h1>Dev Confessional</h1>
      <p>Don't worry, we won’t tell your scrum master.</p>
      <form action="https://formspree.io/f/mnqebnjo" method="POST">
        <input type="text" name="name" placeholder="Your name (optional)" />
        <textarea name="confession" placeholder="Confess your standup sins..." required></textarea>
        <button type="submit">Submit Confession</button>
      </form>
    </div>
  </body>
</html>
