---
import MainLayout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
---

<MainLayout title="Meme Wall | No Blockers™">
  <Navbar />
  <main>
    <h1>Meme Wall</h1>
    <div class="grid">
      <img src="/memes/meme1.jpg" alt="meme 1"/>
      <img src="/memes/meme2.jpg" alt="meme 2"/>
      <img src="/memes/meme3.jpg" alt="meme 3"/>
      <img src="/memes/meme4.jpg" alt="meme 4"/>
    </div>
  </main>
  <Footer />
</MainLayout>
